body{
    font-family: "Roboto", sans-serif;
    background-color: var(--text-color);
    color: #434455;
}

/*-------- BASIC ---------*/
:root {
    --navy-blue: #2E2F42;
    --iris: #4D5AE5;
    --slate: #434455;
    --text-color: #FFFFFF;
    --cloud: #F4F4FD;
    --ocean: #404BBF;
    --cornflower: #E7E9FC;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*-------- HEADERS ---------*/
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
}

.logo-web {
    color: var(--navy-blue);
}

.address{
    font-style: normal;
}

.list-items {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.list-items:is(:focus, :hover) {
    color: var(--ocean);
}

.email:is(:hover, :focus) {
    color: var(--ocean);
}

.top-line {
 color: var(--cornflower);
}

.contacts {
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: var(--slate);
    font-style: normal;
}

/*-------- MAIN ---------*/

/*-------- FIRST SECTION ---------*/
.solutions {
    background-color: var(--navy-blue);
}

.solutions-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.solutions-btn {
    background-color: var(--iris);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--text-color);
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}

.solutions-btn:is(:hover, :focus){
    background-color: var(--ocean);
}

/*-------- SECOND SECTION ---------*/
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; 
}

.team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    background-color: #FFFFFF;
}

.team-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.feature-color {
    color: var(--slate);
}

/*-------- THIRD, FORTH SECTION ---------*/
.team {
    background-color: var(--cloud);
}

.team-tittle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);
}

/*-------- FOOTER ---------*/
.footer {
    background-color: var(--navy-blue);
}

.logo-web-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: var(--cloud);
}

.footer-color {
    color: var(--text-color);
}

/*-------- PORTFOLIO ---------*/
/*-------- MAIN ---------*/
/*-------- FIRST SECTION ---------*/
.main-fulterbtn {
    background-color: var(--cloud);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--iris);
    cursor: pointer;
}

.main-fulterbtn:is(:focus, :hover) {
    background-color: var(--ocean);
    color: var(--text-color);
}


