body {
  font-family: "Roboto", sans-serif;
  background-color: var(--text-color);
  color: #434455;
  box-sizing: border-box;
  margin: 0 auto;
}

/*-------- BASIC ---------*/
:root {
  --navy-blue: #2e2f42;
  --iris: #4d5ae5;
  --slate: #434455;
  --text-color: #ffffff;
  --cloud: #f4f4fd;
  --ocean: #404bbf;
  --cornflower: #e7e9fc;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
p,
ul,
li,
button {
  margin: 0 auto;
  padding: 0 auto;
}

p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

img {
  display: block;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/*-------- HEADERS ---------*/
.header {
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  justify-content: center;
}

.head {
  display: flex;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.contact {
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.list-items::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.phone {
  width: 155px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-right: 76px;
}

.logo-web {
  color: var(--navy-blue);
}

.address {
  font-style: normal;
  margin-left: 332px;
  display: flex;
  gap: 40px;
}

.list-items {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  position: relative;
  color: var(--navy-blue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-items:is(:focus, :hover) {
  color: var(--ocean);
}
/*-------- MAIN ---------*/

/*-------- FIRST SECTION ---------*/
.solutions {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/bk-people.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0;
  max-width: 1440px;
  margin: 0 auto;
}

.solutions-article {
  max-width: 496px;
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: var(--text-color);
}

.solutions-btn {
  background-color: var(--iris);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--text-color);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  margin-top: 48px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.solutions-btn:is(:hover, :focus) {
  background-color: var(--ocean);
}

/*-------- SECOND SECTION ---------*/
.icon {
  width: 64px;
  height: 64px;
  fill: currentColor;
}

.feature-card-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.feature-card-img > img {
  padding: 24px 100px;
}

.feature {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-card-index {
  display: flex;
  justify-content: center;
}

.feature-list {
  margin-right: 24px;
  width: calc((100% - 72px) / 4);
}

li.feature-list:last-child {
  margin-right: 0;
}

.feature-article {
  margin-bottom: 8px;
  background-color: #ffffff;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}

.feature-card-index > li > h3 {
  display: flex;
  justify-content: flex-start;
}

.team-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.feature-color {
  color: var(--slate);
  text-align: center;
}

.text {
  text-align: left;
}
/*-------- THIRD SECTION ---------*/
.possibilities {
  padding-bottom: 120px;
  padding-top: 0;
}

.posib-article {
  margin-bottom: 72px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  background-color: #ffffff;
  text-align: center;
}

.article {
  display: flex;
  flex-direction: column;
}

.pic-container {
  display: flex;
  gap: 24px;
}

.posib-pics {
  width: calc((100% - 3 * 16px) / 3);
}

/*-------- FORTH SECTION ---------*/

.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-bk {
  background-color: #f4f4fd;
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.team-card {
  display: flex;
  gap: 24px;
}

.card {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-container {
  padding: 32px 16px;
}

.team-article {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}

.team-social {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-top: 8px;
  justify-content: center;
  gap: 24px;
}

.team-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:is(:hover, :focus) {
  background-color: #404bbf;
}

.team-social-list {
  background-color: #4d5ae5;
  border-radius: 50%;
  margin-top: 8px;
  width: 40px;
  height: 40px;
}

.icon-social {
  fill: #f4f4fd;
  width: 16px;
  height: 16px;
}

/*-------- FIFTH SECTION ---------*/
.customers {
  padding: 120px 0;
}
.customers-main-article {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 72px;
}
.customers-card {
  display: flex;
  margin: 0;
  gap: 24px;
  padding: 0;
}

.customers-card-list {
  width: calc((100% - 120px) / 6);
  height: 88px;
  padding: 0;
}

.customers-card-link {
  height: 100%;
  border: 1px solid;
  border-color: #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-card-link:is(:hover, :focus) {
  border-color: #404bbf;
  color: #404bbf;
}

.icon-customer {
  fill: currentColor;
  min-width: 40px;
  max-width: 104px;
  min-height: 40px;
  max-height: 63px;
}

.icon-customer:is(:hover, :focus) {
  fill: #404bbf;
}
/*-------- FOOTER ---------*/
.footer {
  background-color: var(--navy-blue);
  padding: 100px 0;
}

.foot {
  display: flex;
  align-items: baseline;
}

.footer-logo-paragraph {
  margin-right: 120px;
}

.footer-logo {
  display: inline-block;
}

.logo-web-foot {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #f4f4fd;
}

.footer-color {
  color: var(--text-color);
  margin: 16px 0 0 0;
  width: 264px;
}

.footer-social {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  font-size: 16px;
}

.footer-list_social {
  display: flex;
  gap: 16px;
  padding: 0;
}

.footer-social-icons {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:is(:hover, :focus) {
  background-color: #31d0aa;
}

/*-------- BACKDROP ---------*/
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(46, 47, 66, 0.4);
  top: 0;
  left: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 24px;
  text-align: end;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:is(:hover, :focus) {
  background-color: #404bbf;
  border: none;
}

.modal-close_btn {
  fill: var(--navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:is(:hover, :focus) .modal-close_btn {
  fill: #ffffff;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%), scale(1.25);
}
/*-------- PORTFOLIO ---------*/
/*-------- MAIN ---------*/
/*-------- FIRST SECTION ---------*/
.portfolio-container {
  padding: 96px 0 120px 0;
}

.btn {
  display: flex;
  margin-bottom: 72px;
  gap: 24px;
  justify-content: center;
}

.btn-list {
  margin: 0;
  padding: 0;
}

.main-fulterbtn {
  background-color: var(--cloud);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--iris);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  padding: 12px 24px;
  border: 1px solid;
  border-color: #e7e9fc;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-fulterbtn:is(:focus, :hover) {
  background-color: var(--ocean);
  color: var(--text-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*-------- FIRST SECTION/SECOND PART ---------*/

.feature-container {
  margin-bottom: 72px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 48px;
  margin: 0;
  padding: 0;
}

.feature-card {
  border: 1px solid #e7e9fc;
  width: 360px;
  padding: 0;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feature-card-link:is(:hover, :focus) .feature-cover-paragraph {
  transform: translateY(0);
}

.feature-card:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.feature-cover {
  position: relative;
  width: 360px;
  overflow: hidden;
}

.feature-cover-paragraph {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  padding: 40px 32px;
  background-color: var(--iris);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .feature-cover-paragraph:is(:hover, :focus) {
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0%);
} */

.feature-card-list {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.feature-link-coffee {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.feature-text {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 8px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  background-color: #ffffff;
  text-align: center;
}

.feature-card-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feature-card-link:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
