body {
  font-family: "Roboto", sans-serif;
  background-color: var(--text-color);
  color: #434455;
  box-sizing: border-box;
  margin: 0 auto;
}

/*-------- BASIC ---------*/
:root {
  --navy-blue: #2e2f42;
  --iris: #4d5ae5;
  --slate: #434455;
  --text-color: #ffffff;
  --cloud: #f4f4fd;
  --ocean: #404bbf;
  --cornflower: #e7e9fc;
  --light-slate: #8e8f99;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
p,
ul,
li,
button {
  margin: 0 auto;
  padding: 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

/*-------- HEADERS ---------*/
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* MOBILE VERSION 427PX */
.mob-logo {
  padding: 24px 0;
}
/* ------ */

.contact {
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.phone {
  width: 155px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.logo-web {
  color: var(--navy-blue);
}

.address {
  font-style: normal;
  display: flex;
  gap: 40px;
}

.list-items {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  position: relative;
  color: var(--navy-blue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-items-underline::after {
  content: "";
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #404bbf;
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-items:is(:focus, :hover) {
  color: var(--ocean);
}

/* MOBILE MENU */

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: var(--text-color);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  padding: 24px 24px 40px 40px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mob-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.mob-btn {
  border: none;
  background-color: var(--text-color);
  margin: 0;
  padding: 24px 16px 24px 0;
}

.mob-btn-open-menu {
  background-color: var(--text-color);
  border-color: 1px solid var(--navy-blue);
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
}

.mob-btn-menu {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  border-radius: 24px;
  border: 1px solid var(--cornflower);
  background-color: #ffffff;
}

.mob-list-items {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-list-items:is(:hover, :focus) {
  color: var(--ocean);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-contact {
  padding: 0;
  margin: 32px 0 0 0;
}

.mob-list-address {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--slate);
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-email {
  font-size: 33px;
}

.menu-phone {
  color: var(--slate);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.mob-list-address:is(:hover, :focus) {
  color: var(--iris);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-contact-address {
  padding: 0;
}

.mob-contacts-address:not(:last-child),
.mob-contact-item:not(:last-child) {
  margin-bottom: 40px;
}

.mob-address {
  margin-bottom: 48px;
}

/* ICONS */

.mob-list-social {
  display: flex;
  padding: 0;
  margin: 0;
}

.mob-social-icons {
  background-color: var(--iris);
  width: 40px;
  height: 40px;
  border-color: none;
  border-radius: 50%;
  margin: 0;
  display: flex;
  justify-content: center;
}

.mob-social-link {
  display: flex;
  align-items: center;
}

.mob-social-icons:is(:hover, :focus) {
  background-color: #31d0aa;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 428px) {
  .resp-mobile {
    display: none;
  }

  .nav-logo {
    padding: 24px 0 24px 16px;
  }

  .mob-list-social {
    gap: 32px;
  }
}

@media screen and (min-width: 428px) {
  .resp-mobile {
    display: none;
  }

  .tablet-contact {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    padding: 24px 0;
  }

  .tab-list-item,
  .mob-logo {
    padding: 0;
  }

  .logo {
    margin-right: 80px;
  }

  .contact {
    margin-right: 80px;
  }

  .mob-list-social {
    display: flex;
    gap: 56px;
    padding: 0;
  }
}

@media screen and (min-width: 740px) {
  .mob-btn,
  .mob-btn-open-menu {
    display: none;
  }

  .contact-item {
    font-size: 12px;
  }

  .resp-mobile {
    display: flex;
  }

  .list-items-underline::after {
    bottom: -13px;
  }
}

@media screen and (min-width: 914px) {
  .list-items-underline::after {
    bottom: -2px;
  }
}

@media screen and (min-width: 914px) {
  .tablet-contact {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}
/* -------- MAIN ---------

/*-------- FIRST SECTION ---------*/
.solutions {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/bk-people.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.solutions-article {
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
  color: var(--text-color);
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.solutions-btn {
  background-color: var(--iris);
  /* font-weight: 500; */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--text-color);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.solutions-btn:is(:hover, :focus) {
  background-color: var(--ocean);
}

@media screen and (max-width: 428px) {
  .solutions {
    padding: 112px 0;
  }

  .solutions-article {
    font-size: 36px;
    line-height: 1.11;
  }

  .solutions-btn {
    margin-top: 72px;
  }
}

@media screen and (min-width: 428px) {
  .solutions {
    padding: 112px 0;
  }

  .solutions-article {
    font-size: 36px;
    line-height: 1.11;
  }

  .solutions-btn {
    margin-top: 72px;
  }
}

@media screen and (min-width: 768px) {
  .solutions {
    padding: 112px 122px;
  }

  .solutions-article {
    font-size: 56px;
    line-height: 1.07;
  }

  .solutions-btn {
    margin-top: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .solutions {
    padding: 188px 319px;
  }
}

@media screen and (min-width: 1440px) {
  .solutions {
    padding: 188px 456px;
  }
}
/*-------- SECOND SECTION ---------*/
.icon {
  width: 64px;
  height: 64px;
  fill: currentColor;
}

.feature-card-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.feature-card-img > img {
  padding: 24px 100px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  appearance: none;
}

.feature-card-index {
  display: flex;
  justify-content: center;
  padding: 0;
}

.feature-article {
  margin-bottom: 8px;
  background-color: #ffffff;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  font-size: 36px;
}

.team-text {
  color: #434455;
  text-align: center;
}

.feature-color {
  color: var(--slate);
}

.text {
  text-align: left;
}

@media screen and (max-width: 428px) {
  .feature {
    padding: 96px 0;
  }

  .feature-card-img {
    display: none;
  }

  .feature-article {
    font-weight: 700;
    font-size: 36px;
  }

  .feature-card-index > li > h3 {
    display: flex;
    justify-content: center;
  }

  .feature-color {
    font-weight: 500;
  }

  .feature-card-index {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }
}

@media screen and (min-width: 428px) {
  .feature-card-img {
    display: none;
  }

  .feature-article {
    font-weight: 700;
  }

  .feature-card-index > li > h3 {
    display: flex;
    justify-content: flex-start;
  }

  .feature-list {
    width: calc(100% - 72px);
  }

  .feature-card-index {
    display: flex;
    gap: 72px 24px;
    flex-wrap: wrap;
    padding: 96px 16px;
  }
}

@media screen and (min-width: 768px) {
  .feature-list {
    width: calc((100% - 72px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .feature-card-img {
    display: flex;
  }

  .feature-list {
    width: calc((100% - 72px) / 4);
  }
}

/*-------- THIRD SECTION ---------*/
.possibilities {
  padding-bottom: 120px;
  padding-top: 0;
}

.posib-article {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  background-color: #ffffff;
  text-align: center;
}

.pic-container {
  display: flex;
  gap: 24px;
}

.posib-pics {
  width: calc((100% - 3 * 16px) / 3);
}

@media screen and (min-width: 740px) {
  .possibilities {
    display: none;
  }
}

@media screen and (min-width: 1180px) {
  .possibilities {
    display: flex;
  }
}
/*-------- FORTH SECTION ---------*/

.team {
  background-color: #f4f4fd;
}

.team-bk {
  background-color: #f4f4fd;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-align: center;
}

.card {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-container {
  padding: 32px 16px;
}

.team-article {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}

.team-social {
  display: flex;
  margin-top: 8px;
  gap: 24px;
}

.team-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:is(:hover, :focus) {
  background-color: #404bbf;
}

.team-social-list {
  background-color: #4d5ae5;
  border-radius: 50%;
  margin-top: 8px;
  width: 40px;
  height: 40px;
}

.icon-social {
  fill: #f4f4fd;
  width: 16px;
  height: 16px;
}

@media screen and (max-width: 428px) {
  .team {
    padding: 96px 0;
  }

  .team-card {
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
    padding: 0;
  }
}

@media screen and (min-width: 428px) {
  .team {
    padding: 96px 0;
  }

  .team-card {
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
    padding: 0;
  }

  .card {
    width: calc(100% - 72px);
  }
}

@media screen and (min-width: 640px) {
  .team {
    padding: 96px 0;
  }

  .team-card {
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
    padding: 0;
  }

  .card {
    width: calc((100% - 72px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .team {
    padding: 96px 0;
  }

  .team-card {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    gap: 64px 24px;
  }

  .card {
    width: calc((100% - 72px) / 2);
  }
}

@media screen and (min-width: 875px) {
  .team {
    padding: 120px 0;
  }

  .team-card {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .card {
    width: calc((100% - 72px) / 4);
  }
}

/*-------- FIFTH SECTION ---------*/
.customers-main-article {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 72px;
}
.customers-card {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.customers-card-list {
  height: 88px;
  padding: 0;
  margin: 0;
}

.customers-card-link {
  height: 100%;
  border: 1px solid;
  border-color: #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-card-link:is(:hover, :focus) {
  border-color: #404bbf;
  color: #404bbf;
}

.icon-customer {
  fill: currentColor;
  min-width: 40px;
  max-width: 104px;
  min-height: 40px;
  max-height: 63px;
}

.icon-customer:is(:hover, :focus) {
  fill: #404bbf;
}

@media screen and (max-width: 428px) {
  .customers {
    padding: 96px 16px;
  }

  .customers-card {
    display: flex;
    gap: 72px 16px;
  }

  .customers-card-list {
    width: calc((100% - 16px) / 2);
  }
}

@media screen and (min-width: 428px) {
  .customers {
    padding: 96px 0;
  }

  .customers-card {
    display: flex;
    justify-content: center;
    gap: 72px 16px;
  }

  .customers-card-list {
    width: calc((100% - 72px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .customers {
    padding: 96px 0;
  }

  .customers-card {
    display: flex;
    gap: 72px 24px;
  }

  .customers-card-list {
    width: calc((100% - 72px) / 3);
  }
}

@media screen and (min-width: 1158px) {
  .customers-card {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }

  .customers-card-list {
    width: calc(100% - 72px);
  }
}
/*-------- FOOTER ---------*/
.footer {
  background-color: var(--navy-blue);
}

.footer-logo {
  display: inline-block;
}

.logo-web-foot {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #f4f4fd;
}

.footer-color {
  color: var(--text-color);
  width: 264px;
  text-align: left;
}

.footer-social {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0 0 16px 0;
  font-size: 16px;
}

.footer-list_social {
  display: flex;
  gap: 16px;
  padding: 0;
}

.footer-social-icons {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:is(:hover, :focus) {
  background-color: #31d0aa;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-form-article {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  margin: 0 0 16px 0;
}

.footer-form-input {
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 8px 16px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #ffffff;
}

.footer-form-input ::placeholder {
  color: #ffffff;
}

.footer-form-btn {
  min-width: 165px;
  height: 40px;
  background-color: var(--iris);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
}

.icons-index-email {
  margin-left: 16px;
  fill: #ffffff;
}

@media screen and (max-width: 428px) {
  .footer {
    padding: 96px 0;
  }

  .footer-logo-paragraph {
    text-align: center;
    margin-bottom: 72px;
  }

  .footer-logo {
    margin-bottom: 16px;
  }

  .footer-social-wrapper {
    text-align: center;
  }

  .footer-social-icons {
    margin: 0;
  }

  .footer-list_social {
    display: flex;
    gap: 16px;
    padding: 0;
    justify-content: center;
    margin-bottom: 72px;
  }

  .footer-form-email {
    display: flex;
    flex-direction: column;
  }

  .footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 428px) {
  .footer {
    padding: 96px 0;
  }

  .footer-logo-paragraph {
    text-align: center;
    margin-bottom: 72px;
  }

  .footer-logo {
    display: flex;
    justify-content: center;
    margin: 0 0 16px 0;
  }

  .footer-social-wrapper {
    text-align: center;
  }

  .footer-social-icons {
    margin: 0;
  }

  .footer-list_social {
    display: flex;
    gap: 16px;
    padding: 0;
    justify-content: center;
    margin-bottom: 72px;
  }

  .footer-form-email {
    display: flex;
    flex-direction: column;
  }

  .footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 96px 0;
  }

  .foot-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 108px;
  }

  .footer-logo {
    display: flex;
    justify-content: flex-start;
  }

  .footer-color {
    margin: 0;
  }

  .footer-social-wrapper {
    text-align: left;
  }

  .footer-list_social {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 72px;
  }

  .footer-form-article {
    text-align: left;
  }
  .footer-form {
    display: flex;
    flex-direction: row;
  }

  .footer-logo-paragraph {
    margin: 0 24px 0 0;
  }
}

@media screen and (min-width: 1158px) {
  .footer {
    padding: 120px 0;
  }

  .foot-container {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
  }

  .footer-logo-paragraph {
    margin: 0 120px 0 0;
  }

  .footer-social-wrapper {
    margin: 0 80px 0 0;
  }
  .footer-list_social {
    margin-bottom: 0;
  }
}
/*-------- BACKDROP ---------*/
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(46, 47, 66, 0.4);
  top: 0;
  left: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  max-width: 408px;
  padding: 72px 24px 24px 24px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:is(:hover, :focus) {
  background-color: #404bbf;
  border: none;
}

.modal-close_btn {
  fill: var(--navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:is(:hover, :focus) .modal-close_btn {
  fill: #ffffff;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%), scale(1.25);
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal-article {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 16px;
}

.modal-form-field {
  margin-bottom: 8px;
  text-align: start;
}

.modal-form-article {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 16px;
}

.backdrop-form {
  margin-bottom: 8px;
}

.modal-form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  display: block;
  margin-bottom: 4px;
  text-align: initial;
}

.modal-div-input {
  position: relative;
}

.modal-input-window {
  width: 100%;
  height: 40px;
  border: 1px solid;
  border-color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--navy-blue);
}

.modal-input-icon:is(:focus) {
  fill: #4d5ae5;
}

.modal-area-window {
  width: 100%;
  height: 120px;
  border: 1px solid;
  border-color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-window:focus,
.modal-area-window:focus {
  border: 1px solid var(--iris);
}

.modal-div-input input:focus + svg {
  fill: #4d5ae5;
}

.backdrop-form-comment {
  margin-bottom: 16px;
}

.modal-check {
  margin-bottom: 24px;
}

.modal-check > input {
  margin-right: 8px;
}

.modal-label-privacy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  position: relative;
}

.modal-privacy:checked + .modal-label-privacy > .policy-text {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.policy-text {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.Policy-text:checked {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}

.privacy-link {
  color: var(--iris);
}

.mobal-btn-submit {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  width: 169px;
  padding: 16px 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input::-ms-check {
  fill: #404bbf;
}

@media screen and (max-width: 428px) {
  .modal {
    min-height: 220px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    min-height: 584px;
    min-width: 220px;
  }
}
/*-------- PORTFOLIO ---------*/
/*-------- MAIN ---------*/
/*-------- FIRST SECTION ---------*/
.portfolio-container {
  padding: 96px 0 120px 0;
}

.btn {
  display: flex;
  margin-bottom: 72px;
  gap: 24px;
  justify-content: center;
}

.btn-list {
  margin: 0;
  padding: 0;
}

.main-fulterbtn {
  background-color: var(--cloud);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--iris);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  padding: 12px 24px;
  border: 1px solid;
  border-color: #e7e9fc;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-fulterbtn:is(:focus, :hover) {
  background-color: var(--ocean);
  color: var(--text-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*-------- FIRST SECTION/SECOND PART ---------*/

.feature-container {
  margin-bottom: 72px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 48px;
  margin: 0;
  padding: 0;
}

.feature-card {
  border: 1px solid #e7e9fc;
  width: 360px;
  padding: 0;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feature-card-link:is(:hover, :focus) .feature-cover-paragraph {
  transform: translateY(0);
}

.feature-card:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.feature-cover {
  position: relative;
  width: 360px;
  overflow: hidden;
}

.feature-cover-paragraph {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  padding: 40px 32px;
  background-color: var(--iris);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feature-card-list {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.feature-link-coffee {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.feature-text {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 8px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  background-color: #ffffff;
}

.feature-card-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feature-card-link:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
